<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <link href="/static/output.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>EMessage</title>
</head>
<body>

    <!-- Main Content -->
    <div>
        <div class="mockup-code mb-4 rounded-lg shadow-lg bg-base-100">
            <pre data-prefix="1"><code>Verifying...</code></pre>
            <pre data-prefix="2"><code>Adding...</code></pre>
            <pre data-prefix="3" class="bg-warning text-warning-content"><code>{{message}}</code></pre>
        </div>
        
        <!-- Back to Parent Page Button -->
        {% if type and p_id %}
        <a href="/{{ type }}/homepage/{{ id }}" class="btn btn-primary mt-4">Back to Home Page</a>
        {% else %}
            <a href="javascript:history.back()" class="btn btn-primary mt-4">Back</a>
        {% endif %}
    
    </div>

</body>
</html>
