<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <link href="/static/output.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Pet Vaccination History</title>
    <style>
        .pet-block {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px 0;
        }
    </style>
</head>
<body>
    {% for res in res %}
        <div class="card bg-base-100 w-96 shadow-xl">
            <div class="card-body">
              <h2 class="card-title">{{res[1]}}</h2>
              <p><strong>Vaccine Name</strong> {{ res[2] }}</p>
              <p><strong>Vaccine Date</strong> {{ res[3] }}</p>   
            </div>
          </div>
    {% endfor %}
</body>
</html>
