<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <link href="/static/output.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Pet Vaccination History</title>
    <!-- <style>
        .pet-block {
            padding: 10px;
            margin: 10px;
            border-radius: 0.5rem; /* Rounded corners for consistency */
            width: 100%; /* Full width for smaller screens */
            box-sizing: border-box;
        }
    </style> -->
</head>
<body class="flex justify-center items-center min-h-screen bg-gray-800">
    <div class="text-center">
        <h2 class="text-white font-bold mb-6" style="font-size: 2.5rem;">Pet Vaccination History</h2>
        
        <div class="card-container">
            {% for res in res %}
            <div class="card shadow-xl pet-block">
                <div class="card-body">
                    <h2 class="flex justify-center card-title font-bold">{{ res[1] }}</h2>
                    <p><strong>Vaccine Name:</strong> {{ res[2] }}</p>
                    <p><strong>Vaccine Date:</strong> {{ res[3] }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
