<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <link href="/static/output.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Pet Details of a User</title>
    <!-- <style>
        .appt-block {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px 0;
            border-radius: 0.5rem; /* Added for rounded corners */
        }
    </style> -->
</head>
<body class="flex justify-center items-center min-h-screen bg-gray-800">
    <div class="w-full max-w-lg">
        <h2 class="text-center text-white font-bold mb-4" style="font-size: 2.5rem;">Pet Details</h2>
        
        {% for record in res %}
        <div class="card bg-base-100 shadow-xl w-full mb-4">
            <div class="card-body">
                <h2 class="card-title">{{ record[1] }}</h2>
                <p><strong>ID:</strong> {{ record[0] }}</p>
                <p><strong>Owner ID:</strong> {{ record[1] }}</p>
                <p><strong>Owner Name:</strong> {{ p_id }}</p>
                <p><strong>Type:</strong> {{ record[2] }}</p>
                <p><strong>Breed:</strong> {{ record[3] }}</p>
                <p><strong>Gender:</strong> {{ record[4] }}</p>
                <p><strong>Date of Birth:</strong> {{ record[5] }}</p>
                <p><strong>Appointment ID:</strong> {{ record[6] }}</p>
                <p><strong>Appointment Time:</strong> {{ record[7] }}</p>
                <p><strong>Reason for Appointment:</strong> {{ record[8] }}</p>
                
                <div class="card-actions justify-end">
                    <a href="/pet/vacc?pet_id={{ record[0] }}">
                        <button class="btn btn-primary">
                            Vaccination History
                        </button>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
