<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pet Details of a User</title>
    <style>
        .pet-block {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <h2>Pet Details</h2>
    {% for record in res %}
        <div class="pet-block">
            <p><strong>ID:</strong> {{ record[0] }}</p>
            <p><strong>Owner ID:</strong> {{ record[1] }}</p>
            <p><strong>Owner Name:</strong> {{ p_id }}</p>
            <p><strong>Pet Name:</strong> {{ record[3] }}</p>
            <p><strong>Type:</strong> {{ record[4] }}</p>
            <p><strong>Breed:</strong> {{ record[5] }}</p>
            <p><strong>Gender:</strong> {{ record[6] }}</p>
            <p><strong>Date of Birth:</strong> {{ record[7] }}</p>

            
            <a href="/pet/vacc?pet_id={{ record[0 ]}}">
                <button style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none; border-radius: 4px; cursor: pointer;">
                    Vaccination History
                </button>
            </a>
            
            <!-- Book appointment first shows nearby clinics -->
            <a href="/user/clinics?p_id={{ record[1] }}&pet_id={{ record[0 ]}}">
                <button style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none; border-radius: 4px; cursor: pointer;">
                    Book Appointment
                </button>
            </a>

            <!-- Wrapping button inside form coz that's the only way to send post request-->
            <form action="/pet/delete" method="POST" style="display: inline;">
                <input type="hidden" name="p_id" value="{{ record[1] }}">
                <input type="hidden" name="pet_id" value="{{ record[0] }}">
                <button type="submit" style="padding: 10px 20px; background-color: #008CBA; color: white; border: none; border-radius: 4px; cursor: pointer;">
                    Delete Pet
                </button>
            </form>

        </div>
    {% endfor %}
</body>
</html>
