<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <link href="/templates/output.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>User Registration Form</title>
</head>
<body>
    <form action="/user/add/" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

        <input class="input input-bordered input-info w-full max-w-xs" placeholder="First Name" type="text" id="firstName" name="firstName" required><br><br>

        <input class="input input-bordered input-info w-full max-w-xs" type="text" placeholder="Last Name" id="lastName" name="lastName" required><br><br>

        <input class="input input-bordered input-info w-full max-w-xs" type="tel" placeholder="Phone Number" id="phone" name="phone" required><br><br>

        <input class="input input-bordered input-info w-full max-w-xs" type="text" placeholder="Locality" id="locality" name="locality" required><br><br>


        <input class="input input-bordered input-info w-full max-w-xs" type="text" placeholder="Street" id="street" name="street" required><br><br>

        <input class="input input-bordered input-info w-full max-w-xs" type="number" placeholder="House Number" id="houseNum" name="houseNum" required><br><br>
        
        <input class="input input-bordered input-info w-full max-w-xs" type="password" placeholder="Password" id="password" name="password" required><br><br>


        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</body>
</html>