<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <link href="/templates/output.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>User Login Form</title>
</head>
<body>
    <form action="/user/login/" method="post">
        <input class="input input-bordered input-info w-full max-w-xs" type="ID" id="ID" name="ID" required><br><br>
        
        <input class="input input-bordered input-info w-full max-w-xs" type="password" id="password" name="password" required><br><br>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</body>
</html>