<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clinics Near Me</title>
    <style>
        .clinic-block {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <h2>Clinics Near Me {{ p_id }} for pet {{ pet_id }}</h2>
        {% for c in clinics %}
        <div class="clinic-block">
            <p><strong>Clinic ID</strong> {{ c[0] }}</p>
            <p><strong>Clinic Locality</strong> {{ c[1] }}</p>
            <p><strong>Clinic Street</strong> {{ c[2] }}</p>
            <p><strong>Clinic Door # </strong> {{ c[3] }}</p>
            <p><strong>Opens At</strong> {{ c[4] }}</p>
            <p><strong>Closes at</strong> {{ c[5] }}</p>

            <a href="/user/vets?c_id={{ c[0] }}&pet_id={{ pet_id }}">
                <button style="padding: 10px 20px; background-color: #008CBA; color: white; border: none; border-radius: 4px; cursor: pointer;">
                    View Doctors
                </button>
            </a>

        {% endfor %}

</body>
</html>