<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Appointment</title>
</head>
<body>
    <h2>Booking appointment for {{ pet_id }}</h2>

    <form action="/user/book" method="post">
        <input type="hidden" name="pet_id" value="{{ pet_id }}">

        <label for="appt_time">Appointment Time</label>
        <input type="time" id="appt_time" name="appt_time">

        <label for="Reason for Appointment">Reason for Appointment</label><br>
        <input type="radio" id="appt_reason" name="appt_reason" value="Emergency">
        <label for="Emergency">Emergency</label><br>
        <input type="radio" id="appt_reason" name="appt_reason" value="Vaccination">
        <label for="Vaccination">Vaccination</label><br>
        <input type="radio" id="appt_reason" name="appt_reason" value="Routine">
        <label for="Routine">Routine</label><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>