<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <link href="/static/output.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>User Home Page </title>
</head>
<body class="bg-gray-800">
    <div class="navbar bg-base-300 w-full overflow-x-auto">
        <button class="btn btn-ghost text-xl">Welcome, {{res[1]}} {{res[2]}}</button>
    </div>

    <div class="carousel carousel-end rounded-box h-[500px]">
        <div class="carousel-item h-full">
          <div class="card bg-base-100 w-96 shadow-xl">
            <figure class="px-10 pt-10">
                <img src="/images/cat.png" alt="Local Image" class="rounded-xl object-cover" style="width: 300px; height: 300px;"/>
            </figure>
            <div class="card-body items-center text-center">
                <h2 class="card-title">Add Your Pet!</h2>
                <!-- <p>Some tagline here?</p> -->
                <div class="card-actions">
                    <a href="/pet/add?p_id={{ res[0] }}">
                        <button class="btn btn-primary">Add pet</button>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="carousel-item">
        <div class="card bg-base-100 w-96 shadow-xl">
            <figure class="px-10 pt-10">
                <img src="/images/dog.png" alt="Local Image" class="rounded-xl object-cover" style="width: 300px; height: 300px;"/>
            </figure>
            <div class="card-body items-center text-center">
                <h2 class="card-title">View Your Pets!</h2>
                <div class="card-actions">
                    <a href="/pet/view?p_id={{ res[0] }}">
                        <button class="btn btn-primary">View pets</button>
                    </a>
                </div>
            </div>
        </div>
        </div>

        <div class="carousel-item">
        <div class="card bg-base-100 w-96 shadow-xl">
            <figure class="px-10 pt-10">
                <img src="/images/user_edit.jpg" alt="Local Image" class="rounded-xl object-cover" style="width: 300px; height: 300px;"/>
            </figure>
            <div class="card-body items-center text-center">
                <h2 class="card-title">Edit Your Profile!</h2>
                <div class="card-actions">
                    <a href="/user/edit?p_id={{ res[0] }}">
                        <button class="btn btn-primary">Edit Profile</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="carousel-item">
        <div class="card bg-base-100 w-96 shadow-xl">
            <figure class="px-10 pt-10">
                <img src="/images/sit_dog.png" alt="Local Image" class="rounded-xl object-cover" style="width:300px; height: 300px;"/>
            </figure>
            <div class="card-body items-center text-center">
                <h2 class="card-title">Your Appointments</h2>
                <div class="card-actions">
                    <a href="/user/upcoming?p_id={{ res[0] }}">
                        <button class="btn btn-primary">Upcoming Appointments</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

        <div class="carousel-item">
        <div class="card bg-base-100 w-96 shadow-xl">
            <figure class="px-10 pt-10">
                <img src="/images/sleepy_cat.png" alt="Local Image" class="rounded-xl object-cover" style="width:300px; height: 300px;"/>
            </figure>
            <div class="card-body items-center text-center">
                <h2 class="card-title">Delete Profile</h2>
                <div class="card-actions">
                    <form action="/user/delete" method="POST" style="display: inline;">
                        <input type="hidden" name="p_id" value="{{ res[0] }}">
                        <button type="submit" class="btn btn-primary">Delete Profile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
