<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <link href="/static/output.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>User Login Form</title>
</head>
<body class="flex justify-center items-center min-h-screen">
    <form action="/user/login/" method="post">
        <h2 style="font-size: 2.5rem;" class="text-center font-bold mb-4">User Login</h2>
        <label for="ID">User ID</label><br>
        <input class="input input-bordered input-info w-full max-w-xs" type="text" id="ID" name="ID" required><br><br>
        
        <label for="password">Password</label><br>
        <input class="input input-bordered input-info w-full max-w-xs" type="password" id="password" name="password" required><br><br>

        <button class="btn btn-primary w-full" type="submit">Submit</button>
    </form>
</body>
</html>