<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <link href="/static/output.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Clinics To Enroll in For a Vet</title>
</head>
    <p>VET ENROLL PAGE</p>
    <body class="flex justify-center items-center min-h-screen bg-gray-800">
    {% for c in clinics %}
    <div class="card bg-base-100 w-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">{{c[3]}}</h2>
            <p><strong>ID:</strong> {{ c[0] }}</p>
            <p><strong>Clinic Locality :</strong> {{ c[1] }}</p>
            <p><strong>Clinic Street :</strong> {{ c[2] }}</p>
            <p><strong>Clinic Number :</strong> {{ c[3] }}</p>
            <p><strong>Opening Time : </strong> {{ c[4] }}</p>
            <p><strong>Closing Time :</strong> {{ c[5] }}</p>
            <div class="card-actions justify-end">
            <a href="/">
                <button class="btn btn-primary">
                    Join Clinic
                </button>
            </a>
    </div>
    {% endfor %}

</html>
