<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Home Page</title>
</head>
<body>
    <h2>Welcome, {{ res[1] }} {{ res[2] }}</h2>
    <h3>Username: {{ res[0] }}</h3>
    
    <!-- <h3>Update Vaccination Details for Pets:</h3>
    <ul>
        {% for pet in pets %}
            <li>
                ID: {{ pet[0] }}
                <a href="/vaccination/add?pet_id={{ pet[0] }}&endpoint=/vaccination/add" target="_blank">Update Vaccination</a>
            </li>
        {% endfor %}
    </ul> -->
    
    <!-- TODO: View appointments, view clinic details if admin -->
</body>
</html>
