<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vet Home Page</title>
</head>
<body>
    <h2>Welcome, {{ details[1] }} {{ details[2] }}</h2>

    <a href="/appointment/view?vet_id={{ details[0] }}">View Appointments</a>
    
    {% if details[0] == admin_id %}
    <a href="/clinic/view?admin_id={{ details[0] }}">View Clinic Details</a>
    {% endif %}
    
    <a href="/pet/view?id={{details[0]}}">View Pets</a>
    {% if pets and pets|length > 0 %}
        <a href="/appointment/add?vet_id={{ details[0] }}">Book an Appointment</a>
    {% else %}
        <p>No pets registered yet.</p>
    {% endif %}

</body>
</html>

