<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <link href="/static/output.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Vets at Clinic {{ c_id }} </title>
</head>
<body class="flex justify-center items-center min-h-screen bg-gray-800">
    <h2>Vets at Clinic {{ c_id }}</h2>
    {% for vet in clinic_vets %}
        <div class="card bg-base-100 w-96 shadow-xl">
            <div class="card-body">
                <h2 class="card-title">{{ vet[1] }} {{ vet[2] }}</h2>

                <p><strong>Vet ID:</strong> {{ vet[0] }}</p>
                <p><strong>Vet Phone</strong> {{ vet[3] }}</p>
                <p><strong>Degree</strong> {{ vet[4] }}</p>
                <p><strong>Years of Experience</strong> {{ vet[5] }}</p>
                <p><strong>Fee</strong> Rs. {{ vet[6] }}</p>

                <form id='apptForm' action="/user/book?c_id={{c_id}}&vet_id={{vet[0]}}&pet_id={{pet_id}}" method="POST" style="display: inline;">

                <label for="appt_time">Time of Appointment</label><br>
                <input type="time" id="appt_time" name="appt_time" min="{{ft[0]}}" max="{{ft[1]}}" onchange="validateTime()">

                <label for="Reason for Appointment">Reason for Appointment</label><br>
                <input type="radio" id="appt_reason" name="appt_reason" value="Emergency">
                <label for="Emergency">Emergency</label><br>
                <input type="radio" id="appt_reason" name="appt_reason" value="Routine">
                <label for="Routine">Routine</label><br>
                <input type="radio" id="appt_reason" name="appt_reason" value="Vaccination">
                <label for="Vaccination">Vaccination</label><br>
                
                <label for="appt_date">Date of Appointment</label><br>
                <input type="date" id="appt_date" name="appt_date">
            
                <div class="card-actions justify-end">
                    <button class="btn btn-primary" type="submit">Confirm Appointment</button>
                    </div>
                </div>
            </form>
        </div>

    {% endfor %}
</body>
</html>
