<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vets at Clinic {{ c_id }} </title>
    <style>
        .vet-block {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <h2>Vets at Clinic {{ c_id }}</h2>
    {% for vet in clinic_vets %}
        <div class="vet-block">
            <p><strong>Vet ID:</strong> {{ vet[0] }}</p>
            <p><strong>Vet Name:</strong> {{ vet[1] }} {{ vet[2] }}</p>
            <p><strong>Vet Phone</strong> {{ vet[3] }}</p>
            <p><strong>Degree</strong> {{ vet[4] }}</p>
            <p><strong>Years of Experience</strong> {{ vet[5] }}</p>
            <p><strong>Fee</strong> Rs. {{ vet[6] }}</p>
        
            <form id='apptForm' action="/user/book?c_id={{c_id}}&vet_id={{vet[0]}}&pet_id={{pet_id}}" method="POST" style="display: inline;">

                <label for="Appointment Timing">Appointment Timing</label><br>
                <input type="time" id="appt_time" name="appt_time" value="Rabies">

                <label for="Reason for Appointment">Reason for Appointment</label><br>
                <input type="radio" id="appt_reason" name="appt_reason" value="Emergency">
                <label for="Emergency">Emergency</label><br>
                <input type="radio" id="appt_reason" name="appt_reason" value="Vaccination">
                <label for="Vaccination">Vaccination</label><br>
                <input type="radio" id="appt_reason" name="appt_reason" value="Routine">
                <label for="Routine">Routine</label><br>

                <button type="button" onclick="confirmAppt()" style="padding: 10px 20px; background-color: #008CBA; color: white; border: none; border-radius: 4px; cursor: pointer;">
                    Confirm Appointment
                </button>

                <script>
                    function confirmAppt() {
                        // Gather appointment details
                        const reason = document.getElementById('appt_reason').value;
                        const time = document.getElementById('appt_time').value;
                        
                        // Display confirmation dialog
                        const confirmationMessage = `Please confirm the appointment details: \nVet : {{vet[0]}} \nFor Pet : {{pet_id}} \nAt Clinic : {{c_id}} \nAt Time : ${time} \nFor : ${reason} `;
                        if (confirm(confirmationMessage)) {
                            // If user confirms, submit the form
                            document.getElementById('apptForm').submit();
                        }
                    }
                </script>
            </form>


        </div>
    {% endfor %}
</body>
</html>
